body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
}

header>img {
    width: 100%;
}

nav {
    position: absolute;
    top: 10px;
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
}

nav>ul {
    display: flex;
    margin-left: 150px;
}

.logo {
    position: absolute;
    margin-left: 80px;
    top: 8px;
    width: 10%;
}

.srch {
    position: absolute;
    margin-left: 770px;
    top: 20px;
    width: 30%;
}

nav>ul>li {
    text-decoration: none;
    list-style: none;
    padding: 5px 20px;
}

ul>li>a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: bold;
}

li>a:hover {
    background-color: white;
    color: black;
}

header>h1 {
    position: absolute;
    font-family: 'Satisfy', cursive;
    font-size: 90px;
    margin-left: 250px;
    top: 80px;
    color: white;
}

header>p {
    position: absolute;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-left: 60px;
    top: 250px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-right: 50px;
}

header>input {
    display: flex;
    position: absolute;
    top: 450px;
    margin-left: 40%;
}

.box {
    margin-left: 300px;
    padding: 20px;
    /* border: 10px solid black; */
    border-radius: 25px;
    width: 35%;
    border: none;
}

.bttn {
    margin-top: 0px;
    margin-left: 650px;
    padding: 16px 20px;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bold;
}

.bttn:hover {
    background-color: wheat;
    color: black;
}

footer {
    background-color: wheat;
}

.foot {
    display: flex;
}

.footleft {
    width: 50%;
    margin: 0 10px;
    text-align: justify;
}

.footleft h2 {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
}

.footleft p {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}

.footright {
    width: 25%;
    margin: 0 10px;
    text-align: justify;
}

.footright h2 {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
}

.footright h3 {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

.footright a {
    text-decoration: none;
    color: black
}

.footright p {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}

footer h4 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}